
.html, body {
  background-color: #000;
  color: #eee;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
}

.app {
  display: block;
  text-align: center;
}

.count {
  font-size: 3rem;
  font-weight: bold;
}

button {
  background-color: #FFF;
  border: none;
  padding: 1rem;
  font-weight: bold;
  color: #000;
  font-size: 1rem;
  margin: 0 .5rem 0 .5rem;
}

button:hover {
  cursor: pointer;
  background-color: red;
}

